Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.log
*.tmp
*.user
*.opensdf
*.sdf
*.db

# Builds generados
Builds/**

# Permitir estructura base
!Docs/.gitkeep
!Evidence/.gitkeep
!Marketing/.gitkeep
!Builds/.gitkeep

# Unreal Engine
/LEYENDAS_MEXICANAS/Binaries/
/LEYENDAS_MEXICANAS/Intermediate/
/LEYENDAS_MEXICANAS/Saved/
/LEYENDAS_MEXICANAS/DerivedDataCache/

# Logs
*.log